// variables
$website-width: 1280px;
$main-color: #4380cf;
$ligth-color: #4c4b4b;
$text-color: #363636;
$secondary-color: #fff;
$bg-image: url('/img/main.png');
$bg-header: url('/img/header.png');
$bg-mainmobile: url('/img/mobileheader.png')